<!DOCTYPE html>
<html ng-app="app">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Boilerplate</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/app.css">
    </head>
    <body ng-controller="mainCtrl as main">
      <div class="header">
        <p class="header__title man pa2 text-white">Giphy App</p>
      </div>
      <div class="controls">
        <form ng-submit="main.search(query)">
          <input ng-model="query" class="input" type="text" placeholder="Search giphy.com...">
        </form>
      </div>
      <div class="container">
        <img class="gif" ng-src="http://media.giphy.com/media/{{ gif.id }}/giphy.gif" ng-repeat="gif in main.gifs">
      </div>
      <script src="js/bundle.js"></script>
    </body>
</html>
